

.post-img img{
width: 100%;
}
.post-img{
    height: 404px;
    overflow: hidden;
   
}
.blog-post-content{
    background-color: #def1dcbf;
    font-family: var(--font2);
}

.blog-post-content h1{
    text-align: center;
}
.blog-post-content  p{
   
    font-size: 20px;
}
.row{
    display: flex;
}
.more-post{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.blogpost-meta{
    
    display: flex;
    justify-content: space-between;
}
.author-info{
    margin: 12px 0;
}
.author-info div{
    padding: 4px 0;
    font-family: var(--font2);
}
.social{
    padding-right: 53px;
    align-self: center;
    cursor: pointer;
}
.mern_content {
    font-family: var(--font2);
}